<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    <header>
      <h1>HBNB</h1>
    </header>
    <section class="places">
      <article class="title">
        <h2>Places</h2>
      </article>
      <article class="cities">
        <h3>San Francisco</h3>
        <ul>
          <li>6 Bedroom House</li>
          <li>Apartment with 2 Bedrooms</li>
          <li>Apartment with 1 Bedroom</li>
        </ul>
      </article>
      <article class="cities">
        <h3>Paris</h3>
        <ul>
          <li>Studio Apartment</li>
          <li>Apartment with 1 Bedroom</li>
        </ul>
      </article>
      <article class="cities">
        <h3>Los Angeles</h3>
        <ul>
          <li>Apartment with 3 Bedrooms</li>
          <li>Apartment with 2 Bedrooms</li>
          <li>Apartment with 1 Bedroom</li>
        </ul>
      </article>
      <article class="cities">
        <h3>Chicago</h3>
        <ul>
          <li>Apartment with 2 Bedrooms</li>
        </ul>
      </article>
    </section>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
